---
layout: default
title: Code Samples
navorder: 1
---
{% include JB/catalog %}
<!--Content Area Start-->
<div id="content">
    <div class="container">
        <div class="divider-info ptb">
            <div class="page-header-title">
                <h2 class="heading-title text-center">{{ page.title }}</h2>
            </div>
        </div>
    </div>

    <!--  for category in CATALOG 
    <div class="container">
        <h4 class="sub-title space-left">{{category[0]}}</h4>
    </div>
    <section>
        <div class="container">
            <div class="posts-carousel owl-carousel">
                {% for post in category[1] %}
                <div class="blog block carousel-post text-center">
                    <div class="div-catalog-img">
                        {% if post.img %}
                        <img class="div-img" src="{{ site.baseurl }}/assets/heliumjk/images/{{ post.img }}" alt="{{ post.title }} image">
                        {% else %}
                        <img class="div-img" src="{{ site.baseurl }}/assets/heliumjk/images/blog.jpg" alt="{{ post.title }} image">
                        {% endif %}
                    </div>
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.excerpt }}</p>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="btn std-btn btn-sm btn-common">Read More</a>
                    <a href="{{ site.baseurl }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="mb-60"></div>
     endfor  -->

    {% for category in CATALOG %}
    <div class="container">
        <!-- <h4 class="sub-title space-left">{{category[0]}}</h4> -->
        <div class="sub-title">
            <span>{{category[0]}}</span>
        </div>
        <div class="row">
            {% for post in category[1] %}
            <!-- Start card -->
            <div class="col-sm-6 col-md-3">
              <div class="card">
                {% assign img_source = post.img %}
                {% include JB/post_img %}
                <img class="card-img-top" src="{{ post_img }}" alt="{{ post.title }} image">
                <div class="card-block">
                    <h3 class="card-title mb-1">{{ post.title }}</h3>
                    {% if post.license %}
                    <span class="mr-2 text-default" data-toggle="tooltip" data-placement="top" title="The author of this post has indicated that the license provided with the source code is {{ post.license }}."><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ post.license }} </span>
                    {% endif %} 
                    {% if post.support %} 
                    <span class="text-default" data-toggle="tooltip" data-placement="top" title="The source code referenced by this post is {{post.support}} supported. If you have an issue, you should report it to the original developer[s] through the project's code repository."><i class="fa fa-user-o" aria-hidden="true"></i> {{ post.support }} </span>
                    {% endif %} 
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="btn card-btn btn-common">Read More</a>
                </div>
              </div>
            </div>
            <!-- End card -->
            {% endfor %}
        </div>
    </div>

    <div class="mb-60"></div>

    {% endfor %}

</div>