---
layout: default
title: Code Samples
navorder: 1
---
{% include JB/catalog %}
<!--Content Area Start-->
<div id="content">
    <div class="container">
        <div class="divider-info ptb">
            <div class="page-header-title">
                <h2 class="heading-title text-center">{{ page.title }}</h2>
            </div>
        </div>
    </div>

    <!--  for category in CATALOG 
    <div class="container">
        <h4 class="sub-title space-left">{{category[0]}}</h4>
    </div>
    <section>
        <div class="container">
            <div class="posts-carousel owl-carousel">
                {% for post in category[1] %}
                <div class="blog block carousel-post text-center">
                    <div class="div-catalog-img">
                        {% if post.img %}
                        <img class="div-img" src="{{ site.baseurl }}/assets/heliumjk/images/{{ post.img }}" alt="{{ post.title }} image">
                        {% else %}
                        <img class="div-img" src="{{ site.baseurl }}/assets/heliumjk/images/blog.jpg" alt="{{ post.title }} image">
                        {% endif %}
                    </div>
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.excerpt }}</p>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="btn std-btn btn-sm btn-common">Read More</a>
                    <a href="{{ site.baseurl }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="mb-60"></div>
     endfor  -->

    {% for category in CATALOG %}
    <div class="container">
        <!-- <h4 class="sub-title space-left">{{category[0]}}</h4> -->
        <div class="sub-title">
            <span>{{category[0]}}</span>
        </div>
        <div class="row">
            {% for post in category[1] %}
            <!-- Start card -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                {% include themes/bootstrap/card.html %}
            </div>
            <!-- End card -->
            {% endfor %}
        </div>
    </div>

    <div class="mb-60"></div>

    {% endfor %}

</div>