---
layout: default
title: Demos
navorder: 3
---

<!--Content Area Start-->
<div id="content">
    <div class="container">
        <div class="divider-info ptb">
            <div class="page-header-title">
                <h2 class="heading-title text-center">{{ page.title }}</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- <h4 class="sub-title space-left">{{category[0]}}</h4> -->
        <div class="row">
            {% for post in site.categories.Demos %}
            <!-- Start card -->
            <div class="col-sm-6 col-md-3">
              <div class="card">
                {% assign img_source = post.img %}
                {% include JB/post_img %}
                <img class="card-img-top" src="{{ post_img }}" alt="{{ post.title }} image">
                <div class="card-block">
                    <h3 class="card-title mb-1">{{ post.title }}</h3>
                    {% if post.license %}
                    <span class="mr-2 text-default" data-toggle="tooltip" data-placement="top" title="The author of this post has indicated that the license provided with the source code is {{ post.license }}."><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ post.license }} </span>
                    {% endif %} 
                    {% if post.support %} 
                    <span class="text-default" data-toggle="tooltip" data-placement="top" title="The source code referenced by this post is {{post.support}} supported. If you have an issue, you should report it to the original developer[s] through the project's code repository."><i class="fa fa-user-o" aria-hidden="true"></i> {{ post.support }} </span>
                    {% endif %} 
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="btn card-btn btn-common">Read More</a>
                </div>
              </div>
            </div>
            <!-- End card -->
            {% endfor %}
        </div>
    </div>

</div>