ul li {
    list-style: disc;
    margin-bottom: 7px
}

ul, ol {
    padding-inline-start: 20px
}

ol ol, ol ul, ul ol, ul ul {
    margin: 7px 0
}

blockquote {
    border-left: 0.25em solid #CCC;
    margin: 0;
    padding: 0 1em
}

.navbar-nav .nav-item {
    list-style: none;
    padding: 0
}

footer ul li {
    list-style: none;
}

.label-default-text {
    font-size: 14px
}

.label-small-text {
    font-size: 10px;
    padding: 0 18px
}

ul.pagination li {
    list-style: none
}

.div-blog-img {
    max-height: 450px;
}

.copyright {
    margin-bottom: 0;
    margin-top: 0
}

.copyright li {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    color: #999;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding-left: 1em
}

.copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0
}

blockquote {
    border-left: 0.25em solid #CCC;
    margin: 0;
    padding: 0 1em
}

.navbar-nav .nav-item {
    list-style: none;
    padding: 0
}

footer ul li {
    list-style: none;
}

.label-default-text {
    font-size: 14px
}

.label-small-text {
    font-size: 10px;
    padding: 0 18px
}

ul.pagination li {
    list-style: none
}

.copyright {
    margin-bottom: 0;
    margin-top: 0
}

.copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0
}

blockquote {
    border-left: 0.25em solid #CCC;
    margin: 0;
    padding: 0 1em
}

.navbar-nav .nav-item {
    list-style: none;
    padding: 0
}

footer ul li {
    list-style: none;
}

.label-default-text {
    font-size: 14px
}

.label-small-text {
    font-size: 10px;
    padding: 0 18px
}

ul.pagination li {
    list-style: none
}

div.popover {
    color: #2f2f2f;
    font-size: 12pt;
    padding: 10px 10px 10px 15px;
}

div.popover * {
    margin: 0;
    padding: 0;
}

.card-img-box {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.card-img-box .card-img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.card-block-fixed {
    height:210px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-read-more {
    padding: 5px 15px 15px;
}