<!-- Scripts -->
<script src="{{ "/assets/spectral/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/assets/spectral/js/main.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/sdp-code-hub/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/sdp-code-hub/main.js" | prepend: site.baseurl }}"></script>