<!-- Scripts -->
<script src="{{ "/assets/spectral/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/spectral/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ "/assets/spectral/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/sdp-code-hub/main.js" | prepend: site.baseurl }}"></script>
